* {
  box-sizing: border-box;
  margin: 40px;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.section-1 {
  background-color: #2a9d8f;
  display: flex;
  width: 1648px;
  height: 170px;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
.section-1 .box {
  border-color: #264653;
}
.box {
  color: #ffefef;
  font-family: "Playfair Display";
  font-size: 42px;
  font-style: normal;
  background-color: #264653;
  display: flex;
  padding: 40px;
  font-weight: 700;
  line-height: 50px; /* 119.048% */
  letter-spacing: 0.263px;
}

.section-2 {
  width: 1648px;
  height: 170px;
  background: #2a9d8f;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.section-3 {
  width: 1648px;
  background-color: #2a9d8f;
  flex-direction: column-reverse;
  display: flex;
  justify-content: flex-end;
}
.section-4 {
  width: 1648px;
  display: flex;
  background-color: #2a9d8f;
  justify-content: space-between;
}

.section-5 {
  width: 1648px;
  display: flex;
  background: #2a9d8f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
